/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    text: white;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #CDFFD7, #92B8FF);
    color: #333;
}

/* Header Styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main Content Styling */
main {
    padding: 20px;
}

/* Footer Styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}