/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #CDFFD7, #92B8FF);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
header {
    background: #68B884;
    color: #000;
    padding: 10px 0;
    text-align: center;
    border-bottom:1px solid #80808080;
}

/* Main Content Styling */
main {
    padding: 20px;
    flex-grow: 1;
}

/* Footer Styling */
footer {
    background: #68B884;
    color: #000;
    text-align: center;
    position: relative;
    height: 2em;
    width: 100%;
    border-top:1px solid #80808080;
    bottom: 0;
}

/* Text Styling */
h1 {
    font-family: 'Yellowtail', cursive;
  }

/* Classes Styling */
.etusivunkuva {
    width: 50%;
    height: auto;
    margin-left: 100px;
    float: right;
    margin-right: 100px;
    
}

.tuotteet img {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    
}

.tausta-img img {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 50%;
    height: auto;
}